@import url("../variables.css");

.hero_title {
    text-align: center;
    font-size: var(--title_font_size);
    color: var(--white);
}

.hero_container {
    position: relative;
    width: 100%;
}

.hero_details_container img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 500px;
    background-repeat: no-repeat;
    opacity: .5;
}

.hero_details_container .hero_details_container_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;

    display: grid;
    grid-template-rows: 50% 25% 25%;
    justify-content: center;
    align-items: start;

    color: var(--white);
    font-size: 2rem;
    text-align: center;
}

.hero_details_container_text h3, .hero_details_container_text p {
    font-size: 2.5rem;
}

.hero_details_container_text h3 {
    align-self: end;
}

.hero_details_container_text h3:hover {
    font-size: 3rem;

    cursor: pointer;
}

.hero_details_container_text a:hover {
    height: 48px;

    cursor: pointer;
    font-size: 2rem;
}

.hero_details_container_text a {
    margin: 0 auto;
    height: 28px;
    padding: 0 10px;

    display: flex;
    align-items: center;

    background-color: var(--blue);
    border-radius: 9999px;
}

.hero_overview {
    color: var(--white);
    font-size: 1.2rem;
    text-align: center;
}